*
    margin: 0
    padding: 0


.contenedor
    width: 100%
    margin: auto
    background: #000
    height: 100%
    display: block
    text-align: center    


h1
    padding: 50px 50px 10px 50px
    font-family: 'Shadows Into Light', cursive
    font-size: 70px
    color: #fff


h2, h3
    color: #fff
    font-family: 'Shadows Into Light', cursive
    font-size: 50px
    padding-bottom: 10px



.botones
    width: 100%


.boton
    background: rgb(95, 95, 219)
    border: none
    padding: 20px 45px
    margin: 0px 10px
    color: #fff
    font-family: 'Shadows Into Light', cursive
    font-size: 30px
    border-radius: 10px
    cursor: pointer
    transition: all .3s ease


.boton i
    font-size: 30px


.boton:hover
    background: rgb(110, 110, 119)
