.juego
    width: 70%
    height: 100%
    padding: 20px 0 50px 0
    
.resultados
    width: 30%
    div, input
        display: flex
        align-items: flex-start
        flex-direction: column

.resultados .empate,
.resultados .yo,
.resultados .computadora
    color: #fff
    font-family: 'Shadows Into Light', cursive
    font-size: 30px

.reset
    background: rgb(95, 95, 219)
    border: none
    padding: 20px 45px
    margin: 20px 0
    color: #fff
    font-family: 'Shadows Into Light', cursive
    font-size: 30px
    border-radius: 10px
    cursor: pointer
    transition: all .3s ease

.imagenes
    width: 100%
    display: flex
    justify-content: space-evenly
    align-self: center

.imgContenedor
    margin: 20px auto 0 auto
    width: 180px
    height: 180px

.imgContenedor img
    width: 150px
    border-radius: 100%
